[Unit]
Description=rClone Crypt for Google Drive
Documentation=http://rclone.org/docs
After=network-online.target

[Service]
Type=idle
User={{ rclone_system_user }}
Group={{ rclone_system_group }}
ExecStart={{ rclone_binary_install_dir }}/rclone mount gdrive-crypt: {{ rclone_cryptfolder }} --config {{ rclone_config_dir }}/{{ rclone_config_file }} {{ rclone_startparams }}
ExecStop=/bin/fusermount -u -z {{ rclone_cryptfolder }}
Restart=always

[Install]
WantedBy=multi-user.target