{{ ansible_managed | comment }}

{% if rclone_connections -%}
{% for (remote, options) in rclone_connections.items() %}
[{{ remote }}]
{% for (key, value) in options.items() %}
{{ key }} = {{ value }}
{% endfor %}

{% endfor %}
{% endif %}
